<!--フラッシュメッセージ-->
<%= flash[:notice] %>

<h3>Title</h3>
<P><%= @book.title %></P>

<h3>Body</h3>
<P><%= @book.body %></P>

<%= link_to "Edit", edit_book_path(@book.id) %>
<!--戻る-->
<span>
  <%= link_to 'Back', "/books" %>
</span>