<!--フラッシュメッセージ-->
<%= flash[:notice] %>

<P><strong>Title: </strong><%= @book.title %></P>

<p><strong>Body: </strong><%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book.id) %>
<!--戻る-->
<span>
  | <%= link_to 'Back', "/books" %>
</span>